*{font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color:white;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    border: 10px transparent;
    border-radius: 15px;
    background-color: darkslategray;
    color:white;

}

input{
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    border: transparent;
    background-color:black;

}
.resposta{
    color:white;
    padding: 15px;

}

.erro_cep{
    color: white;
    padding: 15px;
    background-color:black;
    border-radius: 15px;
}

